*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(242, 242, 242);
    font-family: 'Cormorant Garamond', serif;
}

.content-header{
    max-width: 540px;
}